version: '3'
services:
  mysql:
    image: mysql:latest
    volumes:
      - "./data/db:/var/lib/mysql"
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
  redis:
      image: redis:latest
      restart: on-failure
      ports:
          - 6379:6379
      volumes:
        - "./data/redis:/data"
  phpfpm:
    build: phpfpm
    depends_on:
      - mysql
      - redis
    volumes:
      - "./wordpress:/var/www/html"
      - "./bin:/var/www/bin"
      - "./vendor:/var/www/vendor"
      - "./bc-config.php:/var/www/bc-config.php"
      - "./db-config.php:/var/www/db-config.php"
      - "./wp-config.php:/var/www/wp-config.php"
      - "./wp-cli.yml:/var/www/wp-cli.yml"
      - "./composer.json:/var/www/composer.json"
      - "./config/php-fpm/php.ini:/usr/local/etc/php/conf.d/php.ini"
      - "./config/php-fpm/opcache.ini:/usr/local/etc/php/conf.d/docker-php-ext-opcache.ini"
      - "./logs/php:/srv/logs/php-fpm"
      - "./logs/xdebug:/srv/logs/xdebug"
      - "~/.ssh:/root/.ssh"
    restart: always
    environment:
      WP_ENV: ${WP_ENV}
      DB_PREFIX: ${DB_PREFIX}
      WP_DB_NAME: ${WP_DB_NAME}
      WP_DB_USER: ${WP_DB_USER}
      WP_DB_PASSWORD: ${WP_DB_PASSWORD}
      WP_DB_HOST: ${WP_DB_HOST}
      DB_SLAVE_HOST: ${DB_SLAVE_HOST}
      REDIS_HOST: ${REDIS_HOST}
      WP_CACHE_KEY_SALT: ${WP_CACHE_KEY_SALT}
      AUTH_KEY: ${AUTH_KEY}
      SECURE_AUTH_KEY: ${SECURE_AUTH_KEY}
      LOGGED_IN_KEY: ${LOGGED_IN_KEY}
      NONCE_KEY: ${NONCE_KEY}
      AUTH_SALT: ${AUTH_SALT}
      SECURE_AUTH_SALT: ${SECURE_AUTH_SALT}
      LOGGED_IN_SALT: ${LOGGED_IN_SALT}
      NONCE_SALT: ${NONCE_SALT}
      S3_UPLOADS_BUCKET: ${S3_UPLOADS_BUCKET}
      S3_UPLOADS_REGION: ${S3_UPLOADS_REGION}
      S3_UPLOADS_KEY: ${S3_UPLOADS_KEY}
      S3_UPLOADS_SECRET: ${S3_UPLOADS_SECRET}
      S3_UPLOADS_BUCKET_URL: ${S3_UPLOADS_BUCKET_URL}
      S3_UPLOADS_ENDPOINT: ${S3_UPLOADS_ENDPOINT}
      S3_UPLOADS_USE_LOCAL: ${S3_UPLOADS_USE_LOCAL}
      WP_DEBUG: ${WP_DEBUG}
      MULTISITE: ${MULTISITE}
      SUNRISE: ${SUNRISE}
      DOMAIN_CURRENT_SITE: ${DOMAIN_CURRENT_SITE}
      SITE_ID_CURRENT_SITE: ${SITE_ID_CURRENT_SITE}
      BLOG_ID_CURRENT_SITE: ${BLOG_ID_CURRENT_SITE}
      WPMS_ON: ${WPMS_ON}
      WPMS_MAIL_FROM: ${WPMS_MAIL_FROM}
      WPMS_MAIL_FROM_NAME: ${WPMS_MAIL_FROM_NAME}
      WPMS_MAILER: ${WPMS_MAILER}
      WPMS_SMTP_HOST: ${WPMS_SMTP_HOST}
      WPMS_SMTP_PORT: ${WPMS_SMTP_PORT}
      WPMS_SSL: ${WPMS_SSL}
      WPMS_SMTP_AUTH: ${WPMS_SMTP_AUTH}
      WPMS_SMTP_USER: ${WPMS_SMTP_USER}
      WPMS_SMTP_PASS: ${WPMS_SMTP_PASS}
      OPCACHE_REVALIDATE: ${OPCACHE_REVALIDATE}
  nginx:
    depends_on:
      - phpfpm
    ports:
      - "80:80"
      - "443:443"
    image: nginx:latest
    volumes:
      - "./wordpress:/var/www/html"
      - "./config/nginx/default.conf:/etc/nginx/conf.d/default.conf"
      - "./config/certs:/etc/nginx/certs"
      - "./logs/nginx:/var/log/nginx"
    restart: always
