# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
commit-workflow:
  jobs:
    - build
scheduled-workflow:
  triggers:
    - schedule:
        cron: "0 0 * * *"
        filters:
          branches:
            only: master
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/php:7.1.5-browsers
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mysql:9.4

    working_directory: ~/repo
    cache_directories:
      - ~/.composer/cache
    steps:

      - checkout
      - setup_remote_docker:   # (2)
            docker_layer_caching: true # (3)
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "composer.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run: curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer
      - run: composer update --no-dev --optimize-autoloader --no-interaction --prefer-dist
      - run: rsync -aHAXxv --delete --progress -e "ssh -o StrictHostKeyChecking=no" wordpress bin vendor wp-config.php db-config.php bc-config.php root@178.62.61.64:/root/wp-base-docker

      - save_cache:
          paths:
            - ./vendor
            - ~/.composer/cache
          key: v1-dependencies-{{ checksum "composer.json" }}
        
